* {
    font-family: 'Mulish', sans-serif;
}

.big-heading {
    color: #131318;
    /* text-align: center; */
    font-size: 5vh;
    font-weight: 800;
}

.small-heading {
    color: #131318;
    font-size: 3vh;
    font-weight: 800;
}

.primary-text {
    color: rgba(19, 19, 24, 0.70);
    /* text-align: center; */
    font-size: 2vh;
    font-weight: 400;
    line-height: 3vh;
    margin-bottom: 3vh;
}

.secondary-text {
    color: #131318;
    font-size: 2vh;
    font-weight: 700;
    line-height: 3vh;
}

.primary-btn {
    border-radius: 8px;
    background: #FF5400;
    width: 11vw;
    height: 6.3vh;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 2vh;
    font-weight: 800;
}

.secondary-btn {
    border-radius: 8px;
    background: #FF5400;
    width: 26vw;
    height: 6.3vh;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 2vh;
    font-weight: 800;
    margin-top: 3vh;
    cursor: pointer;
}

.input-btn {
    border-radius: 8px;
    background: #FFF;
    width: 11vw;
    height: 6vh;
    border: 0;
    color: rgba(19, 19, 24, 0.50);
    padding-left: 2vh;
}

/* nav style */

nav {
    margin: 10vh 8vw;
}



.nav-image-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-name {
    color: #131318;
    font-size: 4.2vh;
    font-weight: 800;
}

.name-style {
    color: #FF5400;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.nav-section ul {
    display: flex;
    align-items: center;
}

.nav-section li {
    list-style: none;
    margin-right: 2vw;
}

.nav-section li a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 2.2vh;
    font-style: normal;
    font-weight: 400;
}

.nav-section li a:hover {
    color: #FF5400;
}

#three-dot {
    display: none;
}



/* banner */

.banner-image {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    width: auto;
    height: 64vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2vh;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 6vh;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 8vh;
    font-weight: 800;
    margin: 0 auto;
    padding-top: 12vh;
    padding-left: 18vw;
    padding-right: 18vw;
    margin-bottom: 3vh;
}

.banner-text {
    color: #FFF;
    text-align: center;
    font-size: 2vh;
    font-weight: 400;
    line-height: 3vh;
    padding-left: 19vw;
    padding-right: 19vw;
    margin-bottom: 6vh;
}

.form {
    display: flex;
    gap: 1vw;
    padding: 2vh 2vw;
    justify-content: space-between;
    max-width: 50vw;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.input-btn {
    width: 11vw;
    height: 6.5vh;
}

/* popular */

.popular {
    display: flex;
    margin: 12.5vh 8vw;
    gap: 10vw;
    align-items: center;
}


.popular-image img {
    width: 32vw;
    height: auto;

}

.popular-text>h3 {
    margin-top: 0;
}

/* destination */

.destination {
    margin: 10vh 8vw;
}

.destination-text {
    text-align: center;
}


.row-1-img1 {
    position: relative;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-1-img2 {
    position: relative;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-2-img3 {
    position: relative;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-2-img4 {
    position: relative;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-2-img5 {
    position: relative;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-3-img6 {
    position: relative;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-3-img7 {
    position: relative;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-1-img1 img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.row-1-img2 img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.row-2-img3 img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.row-2-img4 img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.row-2-img5 img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.row-3-img6 img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.row-3-img7 img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.row-1 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
    margin-bottom: 2vh;
}

.row-2 {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2vh;
    margin-bottom: 2vh;
}

.row-3 {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 2fr 4fr;
    gap: 2vh;
}

.image-title {
    z-index: 1;
    position: relative;
    color: #FFF;
    font-family: Mulish;
    font-size: 3.5vh;
    font-weight: 800;
}



/* choose */

.choose {
    margin: 10vh 8vw;
}

.choose-text {
    text-align: center;
}

#card-a {
    width: 37vw;
    height: 36vh;
}

.hotel {
    padding: 0 1vw;
}

.card-containar {
    display: flex;
    justify-content: space-between;
    gap: 2vh;
    margin-bottom: 2vh;
}

.card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card-1 h3 {
    padding-left: 3vh;
}

.card-1 p {
    padding-left: 3vh;
}

.card-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card-2 h3 {
    padding-left: 3vh;
}

.card-2 p {
    padding-left: 3vh;
}

.card-container-2 {
    display: block;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);

}

.card-container-2 h3 {
    padding-left: 3vh;
}

.card-container-2 p {
    padding-left: 3vh;
}


/* get lost */

.get-lost {
    display: flex;
    margin: 12.5vh 8vw;
    gap: 10vw;
    align-items: center;
}

.popular-image {
    width: 100%;
}

.popular-image video {
    height: 40vh;
    width: 100%;

}

/* deals */

.deals {
    margin: 10vh 8vw;
}

.deals>h2 {
    text-align: center;
}

.deals>p {
    text-align: center;
}

.deals-1 {
    background-image: url('Images/Group\ 39.png');
    width: auto;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2vh;
    margin-top: 6vh;
}


.time-date {
    display: flex;
}

.deals-1-text {
    border-radius: 2vh;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 4vh 4vw;
    margin-left: 28vw;
    margin-right: 6vw;
    position: relative;
    top: 13vh;
    /* margin-top: 5vh; */
}

.deals-1-text h2 {
    margin: 0;
}

#deals-text {
    margin: 0;
}

.deals-2 {
    background-image: url('Images/Group\ 40.png');
    width: auto;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2vh;
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.deals-2-text {
    border-radius: 2vh;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 4vh 4vw;
    margin-right: 28vw;
    margin-left: 6vw;
    position: relative;
    top: 13vh;
}

.deals-2-text h2 {
    margin: 0;
}





/* form */

.form-1 {
    margin: 10vh 8vw;
    display: flex;
    justify-content: space-between;
}

.form-fillup {
    width: 30vw;
    height: 54vh;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.form-fillup h3,
p,
.form-text {
    padding-left: 5vh;
}

.hr-line {
    margin: 0 auto;
    margin-bottom: 2vh;
    margin-left: 2.5vw;
    margin-right: 1.5vw;
    background: rgba(19, 19, 24, 0.10);
}

.input-name-email {
    width: 25vw;
    height: 6.5vh;
    border: 0;
    border-radius: 8px;
    padding-left: 1vw;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 2vh;
}

#btn-text {
    padding-right: 3vw;
    margin-bottom: 6vh;
}

#btn-heading {
    margin-top: 5vh;
}

/* need to add */
.form-img {
    position: relative;
}

.form-img img {
    width: 43vw;
    height: 54vh;
    /* position: relative; */
}

.discount {
    border-radius: 16px;
    background: #FF5400;
    padding: 1vh 1vw;
    position: absolute;
    right: 1vw;
    /* bottom: -441vh; */
    top: 38vh;
    transform: rotate(-20deg);
}

.discount p {
    color: #FFF;
    text-align: center;
    font-size: 3vh;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.discount h3 {
    color: #FFF;
    font-size: 4vh;
    font-style: normal;
    font-weight: 800;
    margin: 0;
}

/* footer */

.footer {
    background: rgba(19, 19, 24, 0.05);
    padding-bottom: 3vh;
}

.footer-heading {
    color: #131318;
    font-size: 4vh;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer h3 {
    padding-top: 10vh;
    text-align: center;
}

.footer p {
    text-align: center;
    margin: 1vh 21vw;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding: 3vh 42vw;
}

.icons>a {
    color: black;
}

.hr-line-footer {
    background: rgba(19, 19, 24, 0.10);
    margin: 7vh 10vw;
}

.footer-last-text {
    color: #131318;
    font-size: 2vh;
    font-weight: 300;
}





/* media query */

/* small device */

@media screen and (max-width:600px) {

    /* nav section */

    nav {
        margin: 0 8vw;
    }

    .nav-section {
        flex-direction: column;
    }

    .nav-section ul {
        display: none;
    }

    /* banner */


    .banner-image {
        width: 96vw;
        margin: 0 auto;
    }

    .banner-title {
        font-size: 3vh;
        margin: 0 auto;
        padding-top: 4vh;
        margin-bottom: 2vh;
    }

    .banner-text {
        font-size: 1.8vh;
        margin: 0 auto;
        margin-bottom: 4vh;
    }

    .form {

        flex-direction: column;
        padding: 2vh 2vw;
        gap: 2vh;

    }

    .input-btn {
        width: 92%;
    }

    .primary-btn {
        width: 99%;
    }

    /* popular */

    .popular {
        flex-direction: column;
        margin: 12.5vh 8vw;
        gap: 10vw;
        align-items: center;
    }

    .popular-image img {
        width: 100%;
    }

    #read-more-btn {
        width: 25%;
    }

    .card-containar {
        flex-direction: column;
    }

    #card-a {
        width: 100%;
    }

    /* destination */

    .row-1 {
        grid-template-columns: 1fr;
        margin-bottom: 2vh;
    }

    .row-2 {
        grid-template-columns: 1fr;
        margin-bottom: 2vh;
    }

    .row-3 {
        grid-template-columns: 1fr;
        margin-bottom: 2vh;
    }

    /* deals */

    .deals-1 {
        margin: 0 auto;
    }

    .deals-1-text {
        margin: 0 auto;
        width: 80%;
    }

    .deals-2-text{
        margin: 0 auto;
        width: 80%;
    }

    /* .deals-1-text{
        margin: 0 auto;
        width: 80%;
    } */

    .time-date {
        flex-wrap: wrap;
    }


    /* get lost */

    .get-lost {
        flex-direction: column;
        margin: 12.5vh 8vw;
        gap: 10vw;
        align-items: center;
    }

    .popular-image video {
        width: 100%;
    }

    /* form */

    .form-1 {
        flex-direction: column;
    }

    .form-fillup {
        width: 100%;
    }

    .input-name-email {
        width: 93%;
    }

    #sub-btn {
        width: 94%;
    }

    .form-img img {
        width: 100%;
    }

    .form-img {
        margin-top: 5vh;
    }

    /* footer */

    .footer {
        width: 100%;
        height: auto;
    }

    .footer>p {
        text-align: center;
        margin: 0 5vw;
    }

}